################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin/Debug
/CalculateSalaryAPIs/bin/Debug/net6.0
/CalculateSalaryAPIs/obj/Debug/net6.0
/CalculateSalaryAPIs/obj/Docker
/CalculateSalaryAPIs/obj
/ConsoleApp1/.vs
/ConsoleApp1/ConsoleApp1/bin/Debug/net6.0
/ConsoleApp1/ConsoleApp1/obj
/DomainLayer/obj/Debug/net6.0
/obj
/ServiceLayer/bin/Debug/net6.0
/ServiceLayer/obj/Debug/net6.0
/ServiceLayer/obj
/UnitTestProject/bin/Debug/net6.0
/UnitTestProject/obj/Debug/net6.0
/UnitTestProject/obj/Docker
/DomainLayer/bin/Debug/net6.0
/DomainLayer/obj
/UnitTestProject/obj
/ConsoleApp1
